@import "tailwindcss";

:root {
  --background: #f6f6f6;
  --text: #1a1a1a;
  --primary: #1a1a1a;
  --danger: #ff4d4f;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --text: #f6f6f6;
  }
} */
body {
  background: var(--background);
  color: var(--text);
  transition: all 0.2s ease;
  font-optical-sizing: auto;
  font-weight: 600;
  overflow-x: hidden;
}
body.dark {
  background: var(--text);
  color: var(--background);
}
header {
  background: var(--text);
  color: var(--background);
}
body.dark header {
  background: var(--background);
  color: var(--text);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
